/* Write your CSS code in this file */

body {
  font-size: 1.2em;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

#hintsGiven{
color: lightgray;
}
 
#app {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background: #602040;
  opacity: 0.95;
}

.center{
  max-width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  background: #eee; 
 
}

button {
  background: #493740;
  height: 2em;
  width: 80%;
  margin-bottom: 1.5em;
  border-radius: 10px;
  color: white;
  font-size: 0.8em;
}

input {
  border-radius: 10px;
  width: 50%;
  height: 2em;
  text-align: center;
}

#guess-list{
text-align: left;
}

  
#GH {
  width:auto;
  max-width:10%;
  height:auto;
  margin-right:0;
}

#FSA {
width:auto;
  max-width:10%;
  height:auto;
  margin-right: 0px;
  margin-left: 0px;

}

#GIT{
width:auto;
  max-width:3%;
  height:auto;
}
#Footer {
  color: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: lightgray;
}